body{
    text-align: center;
    background-color:grey;
    position:fixed;
    padding:0px; 
    margin:0px;
    height:100%;
    width:100%;
}
#top{
	background-color: lightgreen;
	text-align: center;
	border: 3px solid #73AD21;
    height:10%;

}
#top #back{
	width:33%;
	float:left;
	height:100%;
	color:black;
	font-weight: bold;
	display: flex;
    align-items: center;
    justify-content: center;
}
#top #back:hover{
	background-color:white;
}
#top #select{
	width:33%;
	float:left;
	height:100%;
	color:black;
	font-weight: bold;
	display: flex;
    align-items: center;
    justify-content: center;
}
#top #select:hover{
	background-color:white;
}
#top #name{
	width:33%;
	float:left;
	height:100%;
	color:black;
	font-weight: bold;
	display: flex;
    align-items: center;
    justify-content: center;
}
#main{
	
	height:80%;
	border: 3px solid #73AD21;
	overflow: auto;
}
#main form{
	height:100%;
}
#main #Box{
	background-color:lightgrey;
	border: 3px solid #73AD21;
	float:left;
	width:25%;
	height:33%;
}
#main #Box:hover{
	background-color:white;
}

#main form.register{

}
#bottom{
	border: 3px solid #73AD21;
	background-color: lightgreen;
	text-align: center;
	
    height:10%;
}
#bottom #Server{
    width:33%;
    float:left;
}
#bottom #User{
    width:33%;
    float:left;
}
#bottom #Player{
    width:33%;
    float:left;
}