body{
    text-align: center;
    background-color:grey;
    position:fixed;
    padding:0px; 
    margin:0px;
    height:100%;
    width:100%;
}
#top{
	background-color: lightgreen;
	text-align: center;
	border: 3px solid #73AD21;
    height:10%;
}
#top h5.main{
	text-decoration: underline;
}
#main{
	height:80%;
	border: 3px solid #73AD21;
	overflow: auto;
}
#main #Box{
	border: 3px solid #73AD21;
	float:left;
	width:33%;
	height:33%;
}
#main form.register{
	border: 3px solid #73AD21;
    width:33%;
    height:33%;
}
#bottom{
	border: 3px solid #73AD21;
	background-color: lightgreen;
	text-align: center;
	
    height:10%;
}
#bottom #Server{
	
    width:50%;
    float:left;
}
#bottom #User{
	
    width:50%;
    float:left;
}